.fetchBtn{
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}